# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
*.Trashes

# Spotlight
.Spotlight-V100

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
